[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
markdown = "*"
gunicorn = "*"
peewee = "*"

[dev-packages]
coverage = "==4.5.1"
coala-bears = "==0.11.1"

[requires]
python_version = "3.7"
