<header class="container-fluid masthead mb-auto">
  <div class="row inner">
    <div class="col-sm-3">
      <h3 class="masthead-brand">{&nbsp;NMunro&nbsp;}</h3>
    </div>
    <div class="col-sm-6">
      <h3>{{ title|title }}</h3>
    </div>
    <div class="col-sm-3">
      <nav class="nav nav-masthead justify-content-center">
        <a class="nav-link {% if active == 'home' %} active {% endif %}" href="/">Home</a>
        <a class="nav-link {% if active.startswith('blog') %} active {% endif %}" href="{{ url_for('blog.index') }}">Blog</a>
      </nav>
    </div>
  </div>
</header>
