{% extends 'pages/main.tmpl.html' %}

{% block title %}{{ active|title }}{% endblock %}

{% block content %}
    <p>It was in my sophomore year at a little known educational establishment in the North East of England that I was first introduced to such beauty as functional programming. The language used to demonstrate the principles was an utterly pointless solution of a language in search of a  problem, in the ten years that followed I have yet to see it spoken about, nevermind used in any practical manner, indeed at the time not one single reference textbook existed on the language, I am unsure if any such books have yet been written.</p>

    <p>Nevertheless my objections and resistance aside, I recall much of the summer was spent trying to grasp the basics to sufficient solve the n-queens problem, using a recursive algorithm. An interesting problem, to be sure, but post lecture one was left unsure if one ought to imbibe liquors or caffeine, perhaps both, the advantages of little known establishments is they often do not stock absinthe.</p>

    <p>However… despite a poor language, changing tutors, the module changing from a single semester to a full academic year, my bedroom walls being adorned with notes and yarn adjoining the seemingly disconnected notes, I passed, by the grace of God and the shedding of sanity I passed.</p>

    <p>I thought it over.</p>

    <p>I prayed it over.</p>

    <p>And for a while, it was.</p>
{% endblock %}
