{% extends 'pages/main.tmpl.html' %}

{% block title %}Welcome Friend...{% endblock %}

{% block content %}
    <h2>Welcome friend...</h2>
    <hr/>
    <p>I'm Neil Munro, a Manchester (UK) based senior Python software engineer, I work for <a href="http://www.mirrorweb.com">MirrorWeb</a>, welcome to my little corner of the world wide web, here I will place various things I find interesting, learn, create, etc.</p>
    <p>I am a big advocate for Test Driven Development (TDD) and documenting code, in the companies I work I ensure we have adeque testing and documentation processes in place.</p>

    <p>Python is my language of choice and I've been working with it since 2009 (during my final year of university), I have worked with popular Python frameworks and libraries such as Django, Flask, and many more. However something I especially want to do is get my head around Lisp, in fact it is my area of study now, which is why I have a <a href="{{ url_for('lisp.index') }}">Lisp</a> section.</p>
{% endblock %}
